<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199388320465-gmhqsfindj0dp5dlfv8ivu05vi0kt036.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199388320465-gmhqsfindj0dp5dlfv8ivu05vi0kt036</string>
	<key>API_KEY</key>
	<string>AIzaSyC67eBpBGbJgh-DzKaetYasneVKCjlyGco</string>
	<key>GCM_SENDER_ID</key>
	<string>199388320465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xlubetmoncla.BlablaChat</string>
	<key>PROJECT_ID</key>
	<string>blablachat-117e2</string>
	<key>STORAGE_BUCKET</key>
	<string>blablachat-117e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199388320465:ios:2d40e14302f84e53766bf0</string>
</dict>
</plist>